node_modules
package-lock.json
package.json-lock.json

# Environment
.env
.env.local

# Logs
logs/
*.log
combined.log
error.log

# Database
db/*.db
db/*.db-shm
db/*.db-wal

# Tests
coverage/

# IDE
.vscode/
.idea/