@import "tailwindcss";

@theme {
  --color-primary-50: #fef5ee;
  --color-primary-100: #fde8d6;
  --color-primary-200: #fbcdad;
  --color-primary-300: #f8a979;
  --color-primary-400: #f47d43;
  --color-primary-500: #f15f1f;
  --color-primary-600: #e24515;
  --color-primary-700: #bb3314;
  --color-primary-800: #952a18;
  --color-primary-900: #792517;

  --color-secondary-50: #fdf4f3;
  --color-secondary-100: #fce7e4;
  --color-secondary-200: #fad3cd;
  --color-secondary-300: #f5b3aa;
  --color-secondary-400: #ed8478;
  --color-secondary-500: #e15c4e;
  --color-secondary-600: #cd4132;
  --color-secondary-700: #ab3427;
  --color-secondary-800: #8e2e24;
  --color-secondary-900: #762a24;

  --color-accent-50: #fefce8;
  --color-accent-100: #fef9c3;
  --color-accent-200: #fef08a;
  --color-accent-300: #fde047;
  --color-accent-400: #facc15;
  --color-accent-500: #eab308;
  --color-accent-600: #ca8a04;
  --color-accent-700: #a16207;
  --color-accent-800: #854d0e;
  --color-accent-900: #713f12;
}
